.header {
    display: flex;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}

.header p {
    color: MediumAquamarine;
}

.nav p {
    display: inline-block;
    color: black;
    text-align: right;
}

div {
    border: 1px solid black;
}

.container {
    display: flex;
}

.column.large {
    width: 630px;
  }
  
  .column.medium {
    width: 300px;
  }
  
  .column.small {
    width: 240px;
  }