.header {
    display: flex;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}

.header p {
    color: MediumAquamarine;
}

.nav p {
    display: inline-block;
    color: black;
    text-align: right;
}